body {
  background-image: 
  url(imagenes/fondopant1.jpg);

  background-repeat: repeat;
 
 
 }

 #titulo{
   font-style: oblique;
   text-align: center;  
   
}

p{
   /*background-color: rgb(191, 238, 246);*/
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: x-large;
   
}

.imagenes{
  
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 1em;
   margin: auto;
}

.imagenes img{
   display: flex;
   gap: 1em;
   justify-content: center;
   max-width: auto;
   max-height: 650px;
   border: 2px solid royalblue;
 border-radius: 5px;
}



#botones {
   display: flex;
   justify-content: flex-end;
   flex-direction: row;
   padding: 2px 2px;
   gap: 0.25em;   
}    


h1{
   font-family: "sofia", sans-serif;
   font-size: 30px;
 text-shadow: 3px 3px 3px #ababab;

   text-align: center;
}

h2{
 text-align: center;
 
 }

.bakr{
   background-color: aqua;   
}

.btn{
 height: 25px;
 width: 100px;
}
.btn:hover{
 background-color: royalblue;
}

@media (min-width: 769px) {
   body{

   }
   }
   